@use '../1-base/variables'

.container-icons
    padding: 150px 0
    text-align: center

.title-icons
    font-size: 60px
    line-height: 72px
    font-weight: 700
    gap: 20px

    &::after
        content: ' '
        display: block
        margin: 0 auto
        width: 100px
        height: 5px
        border-radius: 3px
        background-color: variables.$orange
        margin-bottom: 30px
        margin-top: 30px

.list-icons
    list-style: none
    display: flex
    gap: 20px
    padding: 0
    justify-content: center

    img
        width: 32px
        height: 32px
    
    span 
        font-size: 24px
        line-height: 29px
        font-weight: 700
        margin-bottom: 10px

    p
        margin-top: 10px
        font-size: 18px
        line-height: 22px